<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Emilia cole</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&amp;family=Raleway:wght@400;700&amp;family=Work+Sans&amp;display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/about.css" />
    <script
      src="https://kit.fontawesome.com/b99d7ed5f9.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div id="div-background">
      <header>
        <nav class="nav-pag">
          <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/music">MUSIC</a></li>
            <li><a href="/contact">CONTACT</a></li>
          </ul>
        </nav>
        <nav class="nav-icons">
          <ul>
            <li>
              <a href="https://twitter.com/?lang=es" target="_blank"
                ><i class="fa-brands fa-x-twitter"></i
              ></a>
            </li>
            <li>
              <a href="https://es-la.facebook.com/" target="_blank"
                ><i class="fa-brands fa-facebook"></i
              ></a>
            </li>
            <li>
              <a href="https://www.spotify.com/" target="_blank"
                ><i class="fa-brands fa-spotify"></i
              ></a>
            </li>
            <li>
              <a href="https://www.apple.com/la/apple-music/" target="_blank"
                ><i class="fa-brands fa-apple"></i
              ></a>
            </li>
            <li>
              <a href="https://www.amazon.com/" target="_blank"
                ><i class="fa-brands fa-amazon"></i
              ></a>
            </li>
            <li>
              <a href="https://www.instagram.com/" target="_blank"
                ><i class="fa-brands fa-instagram"></i
              ></a>
            </li>
          </ul>
        </nav>
      </header>
      <section>
        <h1>
          ABOUT <br />
          EMILIA //
        </h1>
        <h4 id="text1">
          *Seattle-based pop star makes her <br />indie debut with a hauntingly
          beautiful album*
        </h4>
        <span id="text2">-Jhon Tirckle, Music Today Post</span>
        <h4 id="text3">
          Emilia Cole is one of the <br />
          scene's breakout stars
        </h4>
        <span id="text4">-Jhon Tirckle, Music Today Post</span>
      </section>
    </div>
  </body>
</html>
