<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia cole</title>
    <link rel="stylesheet" href="/css/contact.css">
    <script src="https://kit.fontawesome.com/b99d7ed5f9.js" crossorigin="anonymous"></script>
</head>
<body>
    <header id="main-header">
        <nav class="nav-pag">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/music">MUSIC</a></li>
                <li><a href="/contact">CONTACT</a></li>
            </ul>
        </nav>
        <ul class="nav-icons">
            <li><a href="https://twitter.com/?lang=es" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
            <li><a href="https://es-la.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="https://www.spotify.com/" target="_blank"><i class="fa-brands fa-spotify"></i></a></li>
            <li><a href="https://www.apple.com/la/apple-music/" target="_blank"><i class="fa-brands fa-apple"></i></a></li>
            <li><a href="https://www.amazon.com/" target="_blank"><i class="fa-brands fa-amazon"></i></a></li>
            <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
        </ul>
    </header>
    <section class="map-title">
        <h1>CONTACT //</h1>
        <h3>WE ARE HERE</h3>
            <iframe id="frame-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d158858.182370726!2d-0.10159865000000001!3d51.52864165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondres%2C%20Reino%20Unido!5e0!3m2!1ses!2sar!4v1697143930792!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
        <section class="info-contact">
            <article>
            <h3>CONTACT INFO</h3>
                <h4>MANAGEMENT | Karen Blanche</h4> 
                <p>email: <a href="mailto:info@mysite.com">info@mysite.com</a></p>
                <p>phone:<a href="tel:123-456-7890">123-456-7890</a></p>
            </article>
            <article>
                <h4>BOOKING | Daniel Ku</h4>
                <p>email: <a href="mailto:info@mysite.com">info@mysite.com</a></p>
                <p>phone:<a href="tel:123-456-7890">123-456-7890</a></p>
            </article>
            <article>
                <h4>LABEL | Wix Records, Jake Coldman</h4>
                <p>email: <a href="mailto:info@mysite.com">info@mysite.com</a></p>
                <p>phone:<a href="tel:123-456-7890">123-456-7890</a></p>
            <article>
                <h4>PR | That Girl Pr, Sarah Brookstone</h4>
                <p>email: <a href="mailto:info@mysite.com">info@mysite.com</a></p>
                <p>phone:<a href="tel:123-456-7890">123-456-7890</a></p>
            </article>
        </section>
    
</body>
</html>